<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script src="https://cdn.tailwindcss.com"></script>

  <title>Intern Alerts</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">

</head>

<body class="dark:bg-gray-900">
  <header class="sticky top-0 z-10 pt-12 pb-10 backdrop-filter backdrop-blur
                     dark:bg-primary dark:text-white">
    <nav class="flex items-center justify-center h-16 font-semibold text-sm
         after:absolute after:inset-x-0 after:w-full after:h-12 after:shadow-hr after:z-[-1]">

        <div class="container flex flex-wrap items-center justify-between mx-auto">
          <a href="/" class="flex items-center">
            <img src="static/logo.png" class="h-6 mr-3 sm:h-9" alt="Flowbite Logo">
            <span class="self-center text-xl font-semibold whitespace-nowrap dark:text-white">Your logo</span>
          </a>
          <div class="flex md:order-2">
            <!-- <button type="button"
              class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-3 md:mr-0 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Get
              started</button> -->
              <button class="block text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
                type="button">
                🔔 Get alerts
              </button>





            <button data-collapse-toggle="navbar-sticky" type="button"
              class="inline-flex items-center p-2 text-sm text-gray-500 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600"
              aria-controls="navbar-sticky" aria-expanded="false">
              <span class="sr-only">Open main menu</span>
              <svg class="w-6 h-6" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20"
                xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd"
                  d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 15a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z"
                  clip-rule="evenodd"></path>
              </svg>
            </button>
          </div>
          <div class="items-center justify-between hidden w-full md:flex md:w-auto md:order-1" id="navbar-sticky">
            <ul
              class="flex flex-col p-4 mt-4 border rounded-lg  md:flex-row md:space-x-8 md:mt-0 md:text-sm md:font-medium md:border-0  dark:border-gray-700">

              <li>
                <div class="flex items-center">
                  <label for="simple-search" class="sr-only">Search</label>
                  <div class="relative w-full">
                    <div class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none">
                      <svg aria-hidden="true" class="w-5 h-5 text-gray-500 dark:text-gray-400" fill="currentColor" viewBox="0 0 20 20"
                        xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd"
                          d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z"
                          clip-rule="evenodd"></path>
                      </svg>
                    </div>
                    <input type="text" id="simple-search"
                      class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full pl-10 p-2.5  dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                      placeholder="Search" required>
                  </div>
                  
                    <span class="sr-only">Search</span>
                  </button>
                </div>
              </li>
            </ul>
          </div>
        </div>
        
        </nav>
  </header>




<div class="mt-8">
<div class="flex justify-center my-8">
<a href="https://www.goldmansachs.com/careers/students/programs/emea/summer-analyst-programme.html" target="_blank"
  class="flex flex-col items-center bg-white border border-gray-200 rounded-lg shadow md:flex-row md:max-w-xl hover:bg-gray-100 dark:border-gray-700 dark:bg-gray-800 dark:hover:bg-gray-700">
  <img class="object-cover w-full rounded-t-lg h-96 md:h-auto md:w-48 md:rounded-none md:rounded-l-lg"
    src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/61/Goldman_Sachs.svg/1200px-Goldman_Sachs.svg.png" alt="">
  <div class="flex flex-col justify-between p-4 leading-normal">
    <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">
      2023 Summer Analyst Intern Programme
    </h5>
    <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">
      Goldman Sachs
    </p>
  </div>
</a>
</div>

<div class="flex justify-center my-8">
  <a href="https://careers.jpmorgan.com/global/en/students/programs/investment-banking-summer-analyst" target="_blank"
    class="flex flex-col items-center bg-white border border-gray-200 rounded-lg shadow md:flex-row md:max-w-xl hover:bg-gray-100 dark:border-gray-700 dark:bg-gray-800 dark:hover:bg-gray-700">
    <img class="object-cover w-full rounded-t-lg h-96 md:h-auto md:w-48 md:rounded-none md:rounded-l-lg"
      src="https://logo-marque.com/wp-content/uploads/2021/02/JP-Morgan-Chase-Logo.png"
      alt="">
    <div class="flex flex-col justify-between p-4 leading-normal">
      <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">
        Investment Banking Analyst Program
      </h5>
      <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">
        J.P. Morgan
      </p>
    </div>
  </a>
</div>

<div class="flex justify-center my-8">
  <a href="https://jobs.citi.com/job/paris/2023-emea-corporate-banking-intern-analyst-paris-europe-middle-east-and-africa-july-intake/287/43976911152" target="_blank"
    class="flex flex-col items-center bg-white border border-gray-200 rounded-lg shadow md:flex-row md:max-w-xl hover:bg-gray-100 dark:border-gray-700 dark:bg-gray-800 dark:hover:bg-gray-700">
    <img class="object-cover w-full rounded-t-lg h-96 md:h-auto md:w-48 md:rounded-none md:rounded-l-lg"
      src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/1b/Citi.svg/1200px-Citi.svg.png"
      alt="">
    <div class="flex flex-col justify-between p-4 leading-normal">
      <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">
        2023, EMEA, Corporate Banking, Intern Analyst Paris (Europe, Middle East and Africa) - July Intake
      </h5>
      <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">
        Citi
      </p>
    </div>
  </a>
</div>

<div class="flex justify-center my-8">
  <a href="https://jobs.citi.com/job/paris/2023-emea-corporate-banking-intern-analyst-paris-europe-middle-east-and-africa-july-intake/287/43976911152"
    target="_blank"
    class="flex flex-col items-center bg-white border border-gray-200 rounded-lg shadow md:flex-row md:max-w-xl hover:bg-gray-100 dark:border-gray-700 dark:bg-gray-800 dark:hover:bg-gray-700">
    <img class="object-cover w-full rounded-t-lg h-96 md:h-auto md:w-48 md:rounded-none md:rounded-l-lg"
      src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/1b/Citi.svg/1200px-Citi.svg.png" alt="">
    <div class="flex flex-col justify-between p-4 leading-normal">
      <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">
        2023, EMEA, Corporate Banking, Intern Analyst Paris (Europe, Middle East and Africa) - July Intake
      </h5>
      <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">
        Citi
      </p>
    </div>
  </a>
</div>

<div class="flex justify-center my-8">
  <a href="https://jobs.citi.com/job/paris/2023-emea-corporate-banking-intern-analyst-paris-europe-middle-east-and-africa-july-intake/287/43976911152"
    target="_blank"
    class="flex flex-col items-center bg-white border border-gray-200 rounded-lg shadow md:flex-row md:max-w-xl hover:bg-gray-100 dark:border-gray-700 dark:bg-gray-800 dark:hover:bg-gray-700">
    <img class="object-cover w-full rounded-t-lg h-96 md:h-auto md:w-48 md:rounded-none md:rounded-l-lg"
      src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/1b/Citi.svg/1200px-Citi.svg.png" alt="">
    <div class="flex flex-col justify-between p-4 leading-normal">
      <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">
        2023, EMEA, Corporate Banking, Intern Analyst Paris (Europe, Middle East and Africa) - July Intake
      </h5>
      <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">
        Citi
      </p>
    </div>
  </a>
</div>

<div class="flex justify-center my-8">
  <a href="https://jobs.citi.com/job/paris/2023-emea-corporate-banking-intern-analyst-paris-europe-middle-east-and-africa-july-intake/287/43976911152"
    target="_blank"
    class="flex flex-col items-center bg-white border border-gray-200 rounded-lg shadow md:flex-row md:max-w-xl hover:bg-gray-100 dark:border-gray-700 dark:bg-gray-800 dark:hover:bg-gray-700">
    <img class="object-cover w-full rounded-t-lg h-96 md:h-auto md:w-48 md:rounded-none md:rounded-l-lg"
      src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/1b/Citi.svg/1200px-Citi.svg.png" alt="">
    <div class="flex flex-col justify-between p-4 leading-normal">
      <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">
        2023, EMEA, Corporate Banking, Intern Analyst Paris (Europe, Middle East and Africa) - July Intake
      </h5>
      <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">
        Citi
      </p>
    </div>
  </a>
</div>

<div class="flex justify-center my-8">
  <a href="https://jobs.citi.com/job/paris/2023-emea-corporate-banking-intern-analyst-paris-europe-middle-east-and-africa-july-intake/287/43976911152"
    target="_blank"
    class="flex flex-col items-center bg-white border border-gray-200 rounded-lg shadow md:flex-row md:max-w-xl hover:bg-gray-100 dark:border-gray-700 dark:bg-gray-800 dark:hover:bg-gray-700">
    <img class="object-cover w-full rounded-t-lg h-96 md:h-auto md:w-48 md:rounded-none md:rounded-l-lg"
      src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/1b/Citi.svg/1200px-Citi.svg.png" alt="">
    <div class="flex flex-col justify-between p-4 leading-normal">
      <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">
        2023, EMEA, Corporate Banking, Intern Analyst Paris (Europe, Middle East and Africa) - July Intake
      </h5>
      <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">
        Citi
      </p>
    </div>
  </a>
</div>

<div class="flex justify-center my-8">
  <a href="https://jobs.citi.com/job/paris/2023-emea-corporate-banking-intern-analyst-paris-europe-middle-east-and-africa-july-intake/287/43976911152"
    target="_blank"
    class="flex flex-col items-center bg-white border border-gray-200 rounded-lg shadow md:flex-row md:max-w-xl hover:bg-gray-100 dark:border-gray-700 dark:bg-gray-800 dark:hover:bg-gray-700">
    <img class="object-cover w-full rounded-t-lg h-96 md:h-auto md:w-48 md:rounded-none md:rounded-l-lg"
      src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/1b/Citi.svg/1200px-Citi.svg.png" alt="">
    <div class="flex flex-col justify-between p-4 leading-normal">
      <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">
        2023, EMEA, Corporate Banking, Intern Analyst Paris (Europe, Middle East and Africa) - July Intake
      </h5>
      <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">
        Citi
      </p>
    </div>
  </a>
</div>




</div>


</body>

</html>